DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=


JWT_SECRET_KEY=
JWT_ALGORITHM=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=
JWT_REFRESH_TOKEN_EXPIRE_MINUTES=
JWT_TOKEN_TYPE=

CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=


STORAGE_BASE_PATH=
STORAGE_BASE_URL=
STORAGE_ALLOWED_EXTENSIONS=
STORAGE_MAX_FILE_SIZE=